## Topic :List Exercise

In [45]:
# Q1. Create a list of 5 random numbers and print the list
number_list = [123, 456, 789, 963, 852]
print('The number list:', number_list)

# Q2. Insert 3 new values to the list and print the updated list. 
new_number_list = [753, 951, 258]
combined_list = number_list + new_number_list
print("Updated list:", combined_list)

#Q3. Try to use a for loop to print each element in the list.
print("Elements in the list:")
for num in combined_list:
    print(num)

The number list: [123, 456, 789, 963, 852]
Updated list: [123, 456, 789, 963, 852, 753, 951, 258]
Elements in the list:
123
456
789
963
852
753
951
258

## Topic: Dictionary Exercise

In [35]:
# Q1: Create a dictionary with keys 'name', 'age', and 'address'
person = {
    "name": "John",
    "age": 25,
    "address": "New York"
}
print("Original dictionary:", person)

# Q2: Add a new key-value pair 'phone' to the dictionary
person["phone"] = "1234567890"
print("Updated dictionary:", person)

Original dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}
Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Topic: Set Exercise

In [47]:
# Q1: Create a set with values 1, 2, 3, 4, and 5
numbers_set = {1, 2, 3, 4, 5}
print("Original set:", numbers_set)

# Q2: Add the value 6 to the set
numbers_set.add(6)
print("Set after adding 6:", numbers_set)

# Q3: Remove the value 3 from the set
numbers_set.remove(3)
print("Set after removing 3:", numbers_set)

Original set: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}
Set after removing 3: {1, 2, 4, 5, 6}

## Topic:Tuple Exercise

In [41]:
# Q1: Create a tuple with values 1, 2, 3, and 4
numbers_tuple = (1, 2, 3, 4)
print("Tuple:", numbers_tuple)

# Q2: Print the length of the tuple
print("Length of tuple:", len(numbers_tuple))

Tuple: (1, 2, 3, 4)
Length of tuple: 4