## Python Fundamentals

In [119]:
# Exercise 1
print("John ST2001 john@gmail.com")

John ST2001 john@gmail.com

In [120]:
# Exercise 2
print("John\nST2001\njohn@gmail.com")

John
ST2001
john@gmail.com

In [121]:
# Exercise 3
num1 = 14
num2 = 7

# Calculations
print(num1, '+', num2, '=', num1+num2)
print(num1, '*', num2, '=', num1*num2)
print(num1, '-', num2, '=', num1-num2)
print(num1, '/', num2, '=', num1/num2)

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [122]:
# Exercise 4
for i in range(1,6):
    print(i)

1
2
3
4
5

In [123]:
# Exercise 5
print('"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".')

# Using escape character
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".
"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [124]:
# Exercise 6
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [125]:
# Exercise 7
num = 23
textnum = "57"
decimal = 98.3
print(type(num))
print(type(textnum))
print(type(decimal))

sum_result = num + int(textnum) + decimal
print("Sum:", sum_result)
print("Datatype of sum:", type(sum_result))

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3
Datatype of sum: <class 'float'>

In [126]:
# Exercise 8
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes = days_in_year * hours_in_day * minutes_in_hour
print("Total number of days in year:", days_in_year)
print("Total number of hours in a day:", hours_in_day)
print("Total number of minutes in an hour:", minutes_in_hour)
print("Total number of minutes in a year:", total_minutes)

Total number of days in year: 365
Total number of hours in a day: 24
Total number of minutes in an hour: 60
Total number of minutes in a year: 525600

In [127]:
#Exercise 9
print("Please enter your name")
name = input()
print("\n")
print("Hi " + name + ", welcome to Python programming :)")

Please enter your name

 Sreereshmi

Hi Sreereshmi, welcome to Python programming :)

In [141]:
# Exercise 10

# 1 pound = 1.24 dollar
pounds = float(input())  # Convert input to float
dollar_rate = 1.24
usd = pounds * dollar_rate
print("Entered pounds:",pounds)
print("Dollar:",usd)

 1100

Entered pounds: 1100.0
Dollar: 1364.0