### Numpy Pandas

#### 1. Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [44]:
import numpy as np

# Create an array with numbers from 1 to 10
arr = np.arange(1, 11)

# Print the array
print('Array with numbers from 1 to 10: ',arr)

# Reshape it to a 2x5 matrix
reshaped_arr = arr.reshape(2, 5)

# Print the reshaped array
print('Reshaped the array to 2x5 matrix: ')
print(reshaped_arr)

Array with numbers from 1 to 10:  [ 1  2  3  4  5  6  7  8  9 10]
Reshaped the array to 2x5 matrix:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

#### 2. Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [46]:
import numpy as np

# Create an array with numbers from 1 to 20
arr = np.arange(1, 21)

# Print the array
print('Array with numbers from 1 to 10: ',arr)

# Extract elements from index 5 to 15 (excluding index 15)
extracted_array = arr[5:15]

#print the extracted array
print('Print the extracted array:', extracted_array)

Array with numbers from 1 to 10:  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Print the extracted array: [ 6  7  8  9 10 11 12 13 14 15]

#### 3. Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [48]:
import pandas as pd

# Create the initial Series
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

# Add a new item to the Series
fruit_series['pears'] = 4

print(fruit_series)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

#### 4. Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [50]:
import pandas as pd

# Create a dictionary with data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'age': [25, 30, 22, 28, 24, 35, 27, 29, 26, 31],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male']
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

      name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    David   28    Male
4     Emma   24  Female
5    Frank   35    Male
6    Grace   27  Female
7   Hannah   29  Female
8      Ian   26    Male
9     Jack   31    Male

#### 5. Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [52]:
import pandas as pd

# Create a dictionary with data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'age': [25, 30, 22, 28, 24, 35, 27, 29, 26, 31],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male']
}

# Create DataFrame
df = pd.DataFrame(data)

# Add the occupation column
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

df['occupation'] = occupations

# Display DataFrame
print(df)

      name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   28    Male  Programmer
4     Emma   24  Female     Manager
5    Frank   35    Male     Analyst
6    Grace   27  Female  Programmer
7   Hannah   29  Female     Manager
8      Ian   26    Male     Analyst
9     Jack   31    Male  Programmer

#### 6. Select the rows of the dataframe where the age is greater than or equal to 30.

In [54]:
import pandas as pd

# Create a dictionary with data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'age': [25, 30, 22, 28, 24, 35, 27, 35, 26, 31],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male']
}

# Create DataFrame
df = pd.DataFrame(data)

# Add the occupation column
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

df['occupation'] = occupations

# Select rows where age is greater than or equal to 30
df_filtered = df[df['age'] >= 30]

# Display filtered DataFrame
print(df_filtered)

     name  age  gender  occupation
1     Bob   30    Male     Manager
5   Frank   35    Male     Analyst
7  Hannah   35  Female     Manager
9    Jack   31    Male  Programmer

#### 7. Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [56]:
import pandas as pd

# Create a dictionary with data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'age': [25, 30, 22, 28, 24, 35, 27, 29, 26, 31],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male'],
}

# Create DataFrame
df = pd.DataFrame(data)

# Add the occupation column
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations

# Save to CSV file
csv_filename = "people_data.csv"
df.to_csv(csv_filename, index=False)

# Read the CSV file
df_read = pd.read_csv(csv_filename)

# Display contents
print(df_read)

      name  age  gender  occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   28    Male  Programmer
4     Emma   24  Female     Manager
5    Frank   35    Male     Analyst
6    Grace   27  Female  Programmer
7   Hannah   29  Female     Manager
8      Ian   26    Male     Analyst
9     Jack   31    Male  Programmer